### Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

### Objectives :
* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists.
* Comment on Data Science tools.

#### languages use for Data scientists

Python.
R.
SQL.
Java.

#### libraries used for Data scientist :

In [ ]:
NumPy.
SciPy.
Pandas.
Matplotlib.
SciKit-Learn.
PyTorch.
Scrapy.
SciKit-Learn.
PyTorch.
Scrapy.

#### Data Science Tools

| Data science tools |
|--------------------|
|   SAS              | 
|    Apache Spark    |
|          BigML     |

In [ ]:
#Arithmetic Expressions

x = 48

y = 12

add = x + y

sub = X - y

pro = x * y

div = x/y

print(add)

print(sub) print(pro)

print(div)

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

In [13]:
#this will convert 200 minutes to hours by diving by 60

Time = float (input('Enter time')) 
print (Time/60)

Enter time200
3.3333333333333335

### Author: 
Pankaj Beldar